{% extends 'newsletters/base.html' %}
{% block title %}
    Create client
{% endblock %}
{% block content %}
    <div class="row align-items-center justify-content-center" style="height: 50vh">
        <div class="col-4">
            <div class="card">
                <h3 class="card-header">
                    {% if object %}
                        Changing user
                    {% else %}
                        Adding user
                    {% endif %}
                </h3>
                <div class="card-body fs-5">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-success">
                            {% if object %}
                                Save
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}