{% extends 'newsletters/base.html' %}
{% block title %}
    Newsletters
{% endblock %}
{% block content %}
    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Newsletters</h1>
        <div class="col-lg-10 mx-auto">
            <p class="lead mb-4">These are newsletters of the service</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'newsletters:newsletter_create' %}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Add newsletter</a>
            </div>
            <div class="row mt-5 justify-content-center" style="width: 100%">
                {% for object in object_list %}
                    <div class="col-5 mx-3">
                        {% for content in content_list %}
                            {% if content.settings.pk == object.pk %}
                                <div class="card mb-4">
                                    <div class="card-header fs-4 fst-italic">
                                        {{ content.title }}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text fs-5 text-truncate">{{ content.message }}</p>
                                        <p class="card-text fs-5">Status: <span
                                                {% if object.status|lower == 'created' %}
                                                    class="badge text-uppercase text-bg-primary"
                                                {% elif object.status|lower == 'started' %}
                                                    class="badge text-uppercase text-bg-secondary"
                                                {% else %}
                                                    class="badge text-uppercase text-bg-success "
                                                {% endif %}
                                        >{{ object.status|lower }}</span></p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="btn-group" role="group">
                                            <a href="{% url 'newsletters:newsletter_view' object.pk %}" class="btn btn-outline-primary">View</a>
                                            <a href="{% url 'newsletters:newsletter_update' object.pk %}" class="btn btn-outline-primary">Edit</a>
                                            <a href="#" class="btn btn-outline-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
</body>
