{% extends 'newsletters/base.html' %}
{% block title %}
    Newsletter {{ object.pk }}
{% endblock %}
{% block content %}
    <div class="row align-items-center justify-content-center" style="height: 50vh">
        <div class="col-6">
            <div class="card">
                <h3 class="card-header">
                    Newsletter Details
                </h3>
                <div class="card-body">
                    <table class="table fs-5">
                        <tr>
                            <th scope="row">Title</th>
                            <td>{{ content.title }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Message</th>
                            <td>{{ content.message }}</td>
                        </tr>
                        <tr>
                            <th class="col-3" scope="row">Scheduled at</th>
                            <td>{{ object.time }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Frequency</th>
                            <td>{{ object.frequency }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td>{{ object.status }}</td>
                        </tr>
                        {% if trial %}
                        <tr>
                            <th scope="row">Last Trial</th>
                            <td>{{ trial.status }} - {{ trial.date|date:"d M Y" }} at {{ trial.date|date:"H:i" }}</td>
                        </tr>
                        {% endif %}
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}