{% extends 'newsletters/base.html' %}
{% block title %}
    Users
{% endblock %}
{% block content %}
    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Our users</h1>
        <div class="col-lg-10 mx-auto">
            <p class="lead mb-4">These are users of newsletter mailing service</p>
            <div class="row mt-5 justify-content-center">
                {% for object in object_list %}
                    <div class="col-md-4 mx-3">
                        <div class="card mb-4">
                            <h5 class="card-header">
                                Client Details
                            </h5>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>{{ object.email }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">First Name</th>
                                        <td>{{ object.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Last Name</th>
                                        <td>{{ object.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone</th>
                                        <td>{{ object.phone }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card-footer">
                                {% if object.is_active %}
                                    <a href="{% url "users:deactivate_user" object.pk %}" class="btn btn-danger">Block</a>
                                {% else %}
                                    <a href="{% url "users:deactivate_user" object.pk %}" class="btn btn-success">Unblock</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
